<app-quote-co></app-quote-co>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="https://devconquer.com">DevConquer</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="https://devconquer.com/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://devconquer.com/category/javascript/">JavaScript</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://devconquer.com/category/angular/">Angular</a>
    </li>
  </ul>
</nav>

<div class="jumbotron">
  <h1 class="text-center">fontawesome in angular</h1>

  <div class="flex-center">
    <fa-icon [icon]="faThumbsUp"></fa-icon>
    <a class="nav-link" href="https://www.facebook.com/DevConquer">Facebook</a>
  </div>

  <div class="flex-center">
    <fa-icon [icon]="faThumbtack"></fa-icon>
    <a class="nav-link" href="https://in.pinterest.com/DevConquer/">Pinterest</a>
  </div>

  <div class="flex-center">
    <fa-icon [icon]="faHashtag"></fa-icon>
    <a class="nav-link" href="https://twitter.com/DevConquer">Twitter</a>
  </div>  
</div>


<style>
  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- -->
